* {
  box-sizing: border-box;
}
#root {
  max-width: 940px;
  margin: 0 auto;
}

#root > div {
  padding: 1em;
}

h1 {
  margin: auto;
  text-align: center;
}

.siteOverview {
  margin: auto;
  text-align: center;
  max-width: 700px;
}
.signupin {
  margin-left: 80%;
}
.logout {
  margin-left: 80%;
}


.rdButtons {
  max-width: 300px;
  margin: auto;
  padding-top: 10px;
}

.rdButtons button {
  padding: 10px;
  margin: 10px;
}

.talk-to-ducky {
  margin: auto;
  max-width: 650px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
}
.chat-with-ducky {
  margin: auto;
  max-width: 650px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
}
.rdChatMessage {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  max-width: 600px;
}
.rdChatMessage .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.rdChatMessage .message-content {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

input.chatTextField {
  width: 480px;
  line-height: 2em;
  margin-left: 13px;
}

.hide {
  display: none;
}

.rdTalkMessage {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
}

.rdTalkButtons {
  max-width: 500px;
  margin: auto;
  padding-top: 10px;
}

.rdTalkButtons button {
  padding: 10px;
  margin: 10px;
}

.bounceDuck {
  animation: bounce-animation 2s ease-in-out infinite; /* Adjust values as needed */
}

@keyframes bounce-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust for bounce height */
  }
}

.activeListening {
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
