
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(131, 194, 240);
}

#root {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  min-height: 800px;
}

#root > div {
  padding: 1em;
}

h1 {
  margin: auto;
  text-align: center;
}

.home-link {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
button{
  background-color: #2196f3; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

input{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #2196f3;
  color: white;
}

.rdLogo {
  max-width: 34px;
  max-height: 34px;
  margin-top: 20px;
  margin-right: 10px;
}

.siteOverview {
  margin: auto;
  text-align: center;
  max-width: 700px;
}
.appLinks {
  margin: auto;
  max-width: 700px;
}
.sendButton,
.copyButton,
.endChat,
.startNewChat {
  font-size: 1.3em;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.appLinks a {
  padding-left: 27px;
  color: black;
  font-weight: 700;
}

.signupin {
  margin-left: 80%;
}
.logout {
  margin-left: 80%;
}
.loLink {
  margin-left: 10px;
}


.talk-to-ducky {
  margin: auto;
  max-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
}
.chat-with-ducky {
  margin: auto;
  max-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
}
.rdChatMessage {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  max-width: 600px;
}
.rdChatMessage .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.rdChatMessage .message-content {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

input.chatTextField {
  width: 480px;
  line-height: 2em;
  margin-left: 13px;
}

.hide {
  display: none;
}

.rdTalkMessage {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
}

.rdTalkButtons {
  max-width: 500px;
  margin: auto;
  padding-top: 10px;
}

.rdTalkButtons button {
  padding: 10px;
  margin: 10px;
}

.bounceDuck {
  animation: bounce-animation 2s ease-in-out infinite; /* Adjust values as needed */
}

@keyframes bounce-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust for bounce height */
  }
}

.activeListening {
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
